<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=q, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台登陆</title>
</head>
<body>
  <h1>后台登陆</h1>
  <form action="<?php echo url('admin/login/login')?>" method="post">
    <table border="1">
      <tr>
        <td>
          <input type="text" name="username" placeholder="请输入用户名">
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" name="password" placeholder="请输入密码">
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="登陆">
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
